<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>branch_app_domain</key>
	<array>
		<string>sportsmax.test-app.link</string>
		<string>sportsmax-alternate.test-app.link</string>
		<string>sportsmax.app.link</string>
		<string>sportsmax-alternate.app.link</string>
	</array>
	<key>branch_key</key>
	<string>key_live_idIRS2CFleJ1ssm2678zilheyqiVS2nr</string>
	<key>branch_universal_link_domains</key>
	<array>
		<string>sportsmax.test-app.link</string>
		<string>sportsmax-alternate.test-app.link</string>
		<string>sportsmax.app.link</string>
		<string>sportsmax-alternate.app.link</string>
	</array>
	<key></key>
	<string></string>
</dict>
</plist>
